<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="theme-color" content="#464a5b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/manifest/icon-144x144.png' | url }}">
    <meta name="msapplication-TileColor" content="#464a5b">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="author" content="{{ author }}">
    <meta name="date.created" content="01-2017">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{ origin }}{{ page.url or '/'}}">
    <meta property="og:image" content="{{ coverImage or '/assets/images/logo/bp-logo-dark@2x.png' }}">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:image:type" content="{{ coverImage | mime or 'image/png' }}">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="apple-touch-icon" href="{{ '/assets/images/manifest/icon-48x48.png' | url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/images/manifest/icon-72x72.png' | url }}">
    <link rel="apple-touch-icon" sizes="96x96" href="{{ '/assets/images/manifest/icon-96x96.png' | url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/images/manifest/icon-144x144.png' | url }}">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ '/assets/images/manifest/icon-192x192.png' | url }}">
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='1024' height='1024' fill='%23464A5B'/%3E %3Ctext font-family='UbuntuMono-Regular, Ubuntu Mono' font-size='1064' letter-spacing='-64.101'%3E %3Ctspan x='3.601' y='788.64' fill='%23C5DFF0'%3Eb%3C/tspan%3E %3Ctspan x='471.5' y='788.64' fill='%23FFF' letter-spacing='-64.222'%3Ep%3C/tspan%3E %3C/text%3E %3C/g%3E %3C/svg%3E">
    <link rel="icon" href="{{ '/assets/images/favicon.ico?v=2' | url }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">

    <noscript><style>:not(:defined) { display: initial; }</style></noscript>

    {% for sheet in stylesheets %}
    <link rel="stylesheet"{% if sheet.media %}
          media="{{ sheet.media }}"{% endif %}{% if sheet.async %}
          async{% endif %}
          href="{{ sheet.href | url }}">
    {% endfor %}

    {% for script in scripts %}
    <script {% if script.type -%}
            type="{{ script.type }}"{%- endif -%}
            src="{{ script.src | url }}"></script>
    {% endfor %}

    <script type="module" src="{{ '/assets/decks.min.js' | url }}"></script>
    <style>{% include DECKS_src_dir + '/decks/templates/deck.css' %}</style>
    <script type="module">{% include DECKS_src_dir + '/decks/templates/deck.js' %}</script>
  </head>
  <body class="deck">
    <main>
      <slidem-deck>
        <sl-progress-bar slot="progress" id="slides-progress" indeterminate></sl-progress-bar>
        {% for slide in collections.slides %}
        {% if slide.deck == deck %}
          <slidem-slide{% if slide.data.name %}
              name="{{ slide.data.name }}"{% endif %}>
          {{ slide.templateContent | reveal(slide.data.reveal) | safe }}
        </slidem-slide>
        {% endif %}
        {% endfor %}
      </slidem-deck>
    </main>
    <footer id="footer" class="screen-only">
      <small id="legal">{{ copyright }}</small>
    </footer>
    <svg id="icons">
      <defs>{% for icon in collections.icon %}
        <g id="{{ icon.fileSlug }}-icon" aria-label="{{ icon.data.title }}">{{ icon.templateContent | safe }}</g>{% endfor %}
      </defs>
    </svg>
  </body>
</html>

