#examples {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;

  & svg {
    fill: currentcolor;
    height: 40px;
    aspect-ratio: 1;
  }
}

#cover-image {
  image-rendering: optimizespeed;
}
