h1 {
  --hue-offset: -120;

  font-size: 1.3em;

  @media (width >= 500px) {
    font-size: 2em;
  }
}

main.home.h-card {
  --thumbnail-height: 125px;

  text-align: center;
  font-size: 180%;
  max-width: min(800px, calc(100vw - 2 * 1.6em));
  margin-inline: auto;
}

#hero {
  image-rendering: pixelated;
}

.p-note {
  & .sprite-icon {
    width: .7em;
    aspect-ratio: 1;
  }
}

#latest {
  --width: 192px;
  --gap: 0.25em;

  max-width: calc(var(--width) * 4 + var(--gap) * 3);
  margin-inline: auto;
  display: block;

  & h2 {
    grid-column: -1/1;
    font-size: 60%;
    margin-block-end: 0;
  }

  & ol {
    list-style-type: none;
    gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
    grid-auto-rows: auto auto;
    grid-auto-flow: column;
    place-items: center;
    margin: 0;
    padding: 0;
    margin-block-end: 1em;


    & li {
      display: contents;
      font-size: 50%;
    }
  }
}
