---
layout: list.html
date: Created
title: Posts
permalink: "/posts/{{ ('page-' + (pagination.pageNumber + 1) + '/index.html') if pagination.pageNumber else '' }}"
showThumbnails: true
inlineCss: 
  - posts.css
pagination:
  data: collections.posts
  reverse: true
  size: 5
---

<nav id="pages">
  <h2>Pages</h2>{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}
  <ol>{% for entry in pagination.pages %}
    <li>
      <a href="{{ pagination.hrefs[loop.index0] }}"{% if page.url === pagination.hrefs[loop.index0] %}
         aria-current="page"{% endif %}> {{ loop.index or 'first' }}</a>
    </li>{% endfor %}
  </ol>{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}
</nav>
