#pages {
  max-width: 800px;
  text-align: end;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  & h2 {
    flex: 1 0 100%;
  }

  & ol {
    display: contents;
    list-style-type: none;
  }

  @media (min-width: 800px) {
    width: 800px;
    margin-inline: auto;
  }
}
