body.sidebar {
  display: grid;
  gap: 1em 1.6em;
  grid-template-rows: min-content auto auto min-content;
  grid-template-columns: minmax(0, auto);
  grid-template-areas:
    "banner"
    "head"
    "main"
    "menu"
    "foot";
}

main { grid-area: main; }

.banner { grid-area: banner; }

#main-header {
  grid-area: head;

  &:after {
    content: "";
    position: absolute;
    inset-block: 0;
    width: 100vw;
    display: block;
    z-index: -1;
    background: var(--background-color);
  }
}

#main-footer { grid-area: foot; }

#side-menu { grid-area: menu; }
