:host {
  --s4: var(--rh-space-4xl);
  --s6: calc(var(--s4) + var(--rh-space-2xl));
}

#container {
  display: grid;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: var(--s6) auto var(--s6);
  font-size: calc(var(--rh-font-size-body-text-2xl) * 2);
  height: 100%;
}

#slide-header,
#slide-footer {
  z-index: 2;
  position: relative;
  inset-inline: 0;
  display: flex;
  align-items: center;
}

#slide-header { grid-area: header; }

#slide-footer {
  grid-area: footer;
  padding-inline: var(--s4);
  background: white;
}

#slide-body {
  grid-area: body;
  padding:
    var(--rh-space-3xl)
    var(--rh-space-7xl);
}

#slide-header [slot="heading"],
#slide-header ::slotted([slot="heading"]) {
  margin: 0;
  font-weight: 400 !important;
  color: var(--rh-color-brand-red-on-light);
  font-size: var(--rh-font-size-heading-md);
}

#slide-header:after,
#slide-footer:after {
  order: -1;
  content: "";
  display: block;
  height: 100%;
  margin-inline-end: var(--s4);
  border-inline-start: 2px solid var(--rh-color-brand-red-on-light);
  translate: -1px;
}

#slide-footer:after {
  margin-block-start: var(--rh-space-3xl);
  height: var(--rh-space-3xl);
}

#confidential,
#tag {
  margin-inline-start: auto;
  font-size: var(--rh-font-size-body-text-md);
}

#logo { height: var(--rh-length-3xl); }

#counter {
  font-size: 12px;
  position: absolute;
  text-align: center;
  display: flex;
  width: 2em;
  height: 2em;
  inset-block-start: 1em;
  inset-inline-start: 4.5em;
  align-items: center;
  justify-content: center;
}

ol {
  padding-inline-start: 2em;
}

.logo-grid {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1em;
}

.logo-grid li { display: contents; }
.logo-grid svg { width: 4em; }
.logo-grid li::marker { content: ""; }

@media (width <= 500px) {
  .logo-grid svg { width: 2em; }
}

p:empty {
  display: none;
}
