:host {
  background-image: url("technologies.png");
  background-repeat: repeat-y;
  background-size: 100%;
}

#slide-header {
  padding: 0;
  display: block;
  color: white;
}

#counter,
#heading,
#slide-header [slot="heading"],
#slide-header ::slotted(*) {
  color: white !important;
}

#slide-footer {
  grid-column: 1/-1;
}

#content {
  padding-inline-start: 40%;
  padding-block-start: var(--s6);
  font-size: 60%;
  z-index: 2;
}

img {
  height: 100%;
}

#heading {
  transform-origin: top left;
  rotate: 90deg;
  translate: 4.5vw var(--rh-space-4xl);
}

#heading ::slotted(*) {
  margin: 0;
  padding: 0;
}

h2 { font-size: 54pt; }

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-inline: 0;
  margin-block: var(--rh-space-5xl);
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: var(--rh-space-2xl);
  font-size: 60%;
}

li a {
  color: inherit;
  text-decoration: none;
}

#content svg {
  width: var(--rh-size-icon-04);
}
