pre[class*="language-"] {
  color: var(--deck-primary-text);
  font-family: var(--rh-font-family-code);
  font-size: .8em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  hyphens: none;
  tab-size: 2;
  text-shadow: none;
}

@media (width <= 500px) {
  pre:is([class*="language-"]) {
    overflow-x: scroll;
  }
}

pre[class*="language-"]::selection,
code::selection {
  text-shadow: none;
}

pre .token.attr-name { color: var(--rh-color-orange-500); }
pre .token.attr-value { color: var(--rh-color-green-600); }
pre .token.function { color: var(--rh-color-blue-500); }
pre .token.keyword { color: var(--rh-color-magenta-500); }
pre .token.number { color: var(--rh-color-orange-500); }
pre .token.operator { color: var(--rh-color-gray-90); }
pre .token.property { color: var(--rh-color-gray-90); }
pre .token.punctuation { color: var(--rh-color-gray-90); }
pre .token.string { color: var(--rh-color-green-600); }
pre .token.tag { color: var(--rh-color-red-600); }
pre .token.selector { color: var(--rh-color-red-600); }

/*
pre .token.class-name { color: var(--dc23-orange); }
pre .token.at.operator {
  color: var(--dc23-lilac);
  filter: brightness(.6);
}
*/

