web-mention {
  display: flex;
  flex-flow: column;
  position: relative;

  &.many { --avatar-size: 40px; }

  & .h-entry {
    gap: calc(var(--avatar-size, 60px) / 8) calc(var(--avatar-size, 60px) / 4);
    margin-block-end: 1em;
    margin-inline-start: var(--avatar-size, 60px);
    border-radius: 16px;
    background: hsl(0deg 100% var(--webmention-reply-lightness, 0%) / 0.1);

    @media (prefers-color-scheme: dark) { --webmention-reply-lightness: 100%; }

    & .h-card {
      display: contents;
    }

    & web-mention-avatar {
      display: block;
      position: absolute;
      inset-inline-start: -14px;
    }

    & .byline {
      font-style: italic;
      padding-block-start: .16em;
      display: block;
      & h3 { display: inline; }
    }

    & .comment {
      margin: 0;
      & p:first-child { margin-block-start: 0; }
    }

    & .byline, & .comment {
      padding-inline: .6em;
    }
  }
}
