/* :not(:defined) { display: none; } */

:root {
  /* colors */
  --blue-100: #bbdefb;
  --blue-900: #0d47a1;
  --blue-grey-100: #cfd8dc;
  --blue-grey-900: #263238;
  --cyan-400: #26c6da;
  --cyan-600: #00acc1;
  --cyan-700: #0097a7;
  --cyan-800: #00838f;
  --cyan-900: #006064;
  --deep-orange-200: #ffab91;
  --deep-orange-600: #f4511e;
  --deep-orange-900: #bf360c;
  --deep-orange-a400: #ff3d00;
  --deep-orange-a700: #dd2c00;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-50: #fafafa;
  --grey-900: #212121;
  --light-blue-300: #4fc3f7;
  --light-blue-400: #29b6f6;
  --light-blue-500: #03a9f4;
  --light-blue-600: #039be5;
  --light-blue-700: #0288d1;
  --light-blue-800: #0277bd;
  --light-blue-900: #01579b;
  --light-green-a400: #76ff03;
  --near-black: #111111;
  --pink-200: #f48fb1;
  --pink-400: #ec407a;
  --pink-900: #880e4f;
  --pink-a200: #ff4081;
  --pink-a400: #f50057;
  --pink-a700: #c51162;
  --purple-700: #7b1fa2;
  --purple-a200: #e040fb;
  --purple-a400: #d500f9;
  --purple-a700: #aa00ff;
  --red-400: #ef5350;
  --red-900: #b71c1c;
  --teal-700: #00796b;
  --teal-900: #004d40;
  --yellow-300: #fff176;
  --lightness-start: 30%;
  --lightness-end: 10%;
  --saturation-start: 60%;
  --saturation-end: 40%;
  --hue-offset: 0;
  --hue-start: 180;
  --hue-end: 240;
  --primary-hue: var(--hue-start);
  --fixed-font: "Fira Code", "Operator Mono", "Noto Sans Mono", monospace;
  --heading-font: Aleo, serif;
  --primary-font: Inter, sans-serif;
  --background-color: white;
  --text-color: black;

  @media (prefers-color-scheme: dark) {
    --background-color: #111115;
    --text-color: white;
    --lightness-start: 80%;
    --lightness-end: 65%;
    --saturation-start: 100%;
    --saturation-end: 85%;
  }

  --magic-hue: calc(var(--primary-hue) + var(--hue-offset));
  --magic-hsl: var(--magic-hue) var(--saturation-start) var(--lightness-start);
  --magic-start: hsl(var(--magic-hsl));
  --magic-end: hsl(var(--magic-hue) var(--saturation-end) var(--lightness-end));
  --magic: linear-gradient(72deg, var(--magic-start), var(--magic-end));
}

html {
  display: flex;
  min-height: 100%;
}

html,
body {
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
  background: var(--background-color);
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  line-height: 1.3;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

#main-header,
body > main,
#footer {
  margin-inline: auto;
  padding: 1em 1.6em;
}

body > main,
#footer {
  max-width: 1000px;
  width: calc(100% - 2 * 1.6em);
}

img, video {
  max-width: 100%;

  &:not([height]) {
    height: auto;
  }
}

#main-header {
  width: 100vw;
  padding-inline: 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 2;
  height: 40px;

  & img { height: 40px; }
}

:is(a, h1, h2, h3, h4, h5, h6, .magic-color, blockquote::before) {
  background: var(--magic);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &:is(a) {
    --magic-hue: var(--hue-start);
    --magic: linear-gradient(72deg, var(--magic-start), var(--magic-start));

    &:is(:hover, :focus, :focus-within, :active) {
      --magic-hue: calc(var(--primary-hue) + var(--hue-offset));
      --magic: linear-gradient(72deg, var(--magic-start), var(--magic-end));
    }
  }

  & a {
    --magic-hue: calc(var(--primary-hue) + var(--hue-offset));
    --magic: linear-gradient(72deg, var(--magic-start), var(--magic-end));
  }

  & .emoji {
    background: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font);
  font-weight: 700;
}

h1 {
  font-weight: 900;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: hsl(var(--magic-hsl) / 0.3);
  transition: text-decoration-thickness, text-decoration-color 0.3s ease-in-out;

  &:visited { --hue-offset: 50; }

  &:is(:hover, :focus) {
    text-decoration-thickness: 4px;
    text-decoration-color: hsl(var(--magic-hsl) / 1);
  }
}

#mobile-nav > summary {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 40px;
  height: 40px;

  & svg {
    width: 24px;
    height: 24px;
    fill: currentcolor;
  }
}

body code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--fixed-font);
}

body pre[class*="language-"] {
  max-width: 100%;
  overflow-x: scroll;
}

#footer {
  text-align: center;
  margin-block-start: auto;
}

code-tabs:hover,
code-tabs:focus,
code-tabs:focus-within {
  --code-tabs-selected-highlight-color: var(--primary-color) !important;
}

#icon-sprite-sheet {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

blockquote {
  position: relative;
  margin-inline: 1.2em;
  margin-block: 1.6em;
  font-size: 110%;
  font-weight: 600;
  &::before {
    content: '“';
    background: var(--magic);
    font-family: var(--heading-font);
    font-size: 300%;
    opacity: .75;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: absolute;
    inset-block-start: -.25em;
    inset-inline-start: -.3em;
  }
}
