---
layout: html.html
---
{% if not noHeader %}
<header id="main-header">
  <a href="{{ '/' | url }}">
    <img alt="bp"
         width="40"
         height="40"
         src="{{ '/assets/images/logo/bp-logo-transparent.png' | url }}"
         srcset="{{ '/assets/images/logo/bp-logo-transparent@2x.png' | url }} 2x,
                 {{ '/assets/images/logo/bp-logo-transparent.png' | url }} 1x"></a>

  <nav title="Site nav">
    <a href="{{ '/posts/' | url }}">Posts</a>
    <a href="{{ '/tags/' | url }}">Tags</a>
    <a href="{{ '/resume/' | url }}">C.V.</a>
  </nav>

  <ul class="socials">{% for link in social %}
    <li>
      <a rel="me noreferrer nofollow" target="_blank" href="{{ link.href }}" title="{{ link.label }}">
        {% icon link.icon %}
      </a>
    </li>{% endfor %}
  </ul>

  <details id="mobile-nav">
    <summary>{% icon 'hamburger', title="Menu" %}</summary>

    <div id="mobile-nav-content">
      <ul class="socials">{% for link in social %}
        <li>
          <a rel="me noreferrer nofollow" target="_blank" href="{{ link.href }}">
            {% icon link.icon, title=link.label %}
          </a>
        </li>{% endfor %}
      </ul>
      <section class="table-of-contents">
        <h2><a href="#">Contents</a></h2>
        {{ content | toc | safe }}
      </section>
    </div>
  </details>
</header>{% endif %}

{{ content | abbrs | safe }}
