<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Benny Powers, Web Developer</title>
    <script type="module" src="{{ '/assets/components.min.js' | url }}"></script>
    <style>
      html {
        font-family: "Fira Code", "Panic Code", "Operator Mono", monospace
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Benny Powers, Web Developer</h1>
      <a href="https://bennypowers.com">Résumé</a>
      <a rel="me" href="https://social.bennypowers.dev/@i"><abbr title="mastodon">🐘</abbr></a>
    </header>
    {{ content | safe }}
  </body>
</html>
