---
layout: html.html
scripts:
  - src: /assets/decks.min.js
    type: module
  - src: /assets/deck.js
    type: module
stylesheets:
  - href: /assets/deck.css
---
<main>
<slidem-deck>
  <sl-progress-bar slot="progress" id="slides-progress" indeterminate></sl-progress-bar>
  {% for slide in collections.slides %}
  {% if slide.deck == deck %}
    <slidem-slide{% if slide.data.name %}
        name="{{ slide.data.name }}"{% endif %}>
    {{ slide.templateContent | reveal(slide.data.reveal) | safe }}
  </slidem-slide>
  {% endif %}
  {% endfor %}
</slidem-deck>
</main>
