:root {
  font-size: 18px;
}

#main-header-socials {
  display: flex;
}

#side-menu {
  padding-inline-start: 0;
  padding-inline-end: 3em;
  max-width: 410px;
}

#main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 150%;
  justify-self: center;
  grid-column: 1/-1;

  & nav {
    display: flex;
    gap: 0.5em;
  }

  & :first-child { justify-self: start; }
  & :last-child { justify-self: end; }
}

#mobile-nav {
  display: none;
}

body > main {
  justify-self: end;
  margin-inline: unset;
}

main.home {
  text-align: center;
  font-size: 220%;
}

body.sidebar {
  grid-template-rows: min-content min-content auto min-content;
  grid-template-columns: minmax(0, 2fr) minmax(410px, 1fr);
  grid-template-areas:
    "banner banner"
    "head head"
    "main menu"
    "foot foot";
}

#hero {
  width: 50%;
  height: auto;
}

blockquote {
  width: max-content;
  max-width: 613px;
  margin-inline: auto;
}
