{%- set type = layout | replace('.html', '') -%}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title or 'Benny Powers, Web Developer' }}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta name="theme-color" content="#464a5b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Benny Powers, Web Developer">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Benny Powers, Web Developer">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/manifest/icon-144x144.png' | url }}">
    <meta name="msapplication-TileColor" content="#464a5b">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="author" content="Benny Powers">
    <meta name="date.created" content="01-2017">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="{{ description or 'Benny Powers, Web Developer' }}">

    <meta property="og:title" content="{{ title or 'Benny Powers' }}">
    <meta property="og:description" content="{{ description or 'Benny Powers, Web Developer' }}">
    <meta property="og:type" content="{{ 'article' if type == 'post' else 'website' }}">
    <meta property="og:site_name" content="Benny Powers, Web Developer">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://bennypowers.dev{{ page.url or '/'}}">
    <meta property="og:image" content="{{ coverImage or '/assets/images/logo/bp-logo-dark@2x.png' }}">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:image:type" content="{{ coverImage | mime or 'image/png' }}">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="apple-touch-icon" href="{{ '/assets/images/manifest/icon-48x48.png' | url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/images/manifest/icon-72x72.png' | url }}">
    <link rel="apple-touch-icon" sizes="96x96" href="{{ '/assets/images/manifest/icon-96x96.png' | url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/images/manifest/icon-144x144.png' | url }}">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ '/assets/images/manifest/icon-192x192.png' | url }}">
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='1024' height='1024' fill='%23464A5B'/%3E %3Ctext font-family='UbuntuMono-Regular, Ubuntu Mono' font-size='1064' letter-spacing='-64.101'%3E %3Ctspan x='3.601' y='788.64' fill='%23C5DFF0'%3Eb%3C/tspan%3E %3Ctspan x='471.5' y='788.64' fill='%23FFF' letter-spacing='-64.222'%3Ep%3C/tspan%3E %3C/text%3E %3C/g%3E %3C/svg%3E">
    <link rel="icon" href="{{ '/assets/images/favicon.ico?v=2' | url }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">

    <noscript><style>:not(:defined) { display: initial; }</style></noscript>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet"
          href="{{ '/assets/main.css' | url }}">

    <link rel="stylesheet"
          media="(prefers-color-scheme: light)"
          href="{{ '/assets/theme-light.css' | url }}">

    <link rel="stylesheet"
          media="(prefers-color-scheme: dark)"
          href="{{ '/assets/theme-dark.css' | url }}">

    <link rel="stylesheet"
          href="{{ '/assets/prism.css' | url }}">

    <link rel="stylesheet"
          href="{{ fonts | googleFonts }}">

    {% for sheet in stylesheets %}
    <link rel="stylesheet"{% if sheet.media %}
          media="{{ sheet.media }}"{% endif %}{% if sheet.async %}
          async{% endif %}
          href="{{ sheet.href | url }}">
    {% endfor %}

    {% if importmap %}
    <script type="importmap">{{ importmap | dump | safe }}</script>
    <!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js" crossorigin="anonymous"></script>
    {% endif %}

    {% for script in scripts %}
    <script {% if script.type -%}
            type="{{ script.type }}"{%- endif -%}
            src="{{ script.src | url }}"></script>
    {% endfor %}

    <script type="module" src="{{ '/assets/main.js' | url }}"></script>{% if watch %}
    <style>
      html :has(body.unpublished) {
        border: 4px solid hotpink;
      }
      .list .unpublished div::after,
      .post.unpublished #side-menu div::before {
        border: 4px solid hotpink;
        display: inline-block;
        padding: .3em .6em;
        content: ' UNPUBLISHED';
        font-style: italic;
        font-size: 200%;
        font-weight: bolder;
      }
      </style>{% endif %}{% if inlineCss %}{% for file in inlineCss %}{% set sheet %}{% include file %}{% endset %}
      <style data-file="{{ file }}">{{ sheet | postcss | safe }}</style>{% endfor %}{% endif %}
    </head>
    <body class="{{ type }}{% if type == 'post' and not published and watch %} unpublished{% endif %}"{%-
          if bodyAttributes %} {{ bodyAttributes }}{% endif %}>
    {{ content | safe }}
    <footer id="footer" class="screen-only">
      <small id="legal">© {{ (datePublished or page.date) | formatDate(year='numeric') }} Benny Powers.</small>
    </footer>
    <svg id="icons">
      <defs>{% for icon in collections.icon %}
        <g id="{{ icon.fileSlug }}-icon" aria-label="{{ icon.data.title }}">{{ icon.templateContent | safe }}</g>{% endfor %}
      </defs>
    </svg>
  </body>
</html>
