---
layout: base.html
stylesheets:
  - href: /assets/post.css
---
{% if watch or published %}
<aside id="side-menu">
  <div>
    <dl id="post-stats">
      <dt>⏲️ Time to read</dt>
      <dd>~ {{ content | timeToRead }}</dd>
      <dt>🌅 Published</dt>
      <dd><time datetime="{{ datePublished }}">{{ datePublished | formatDate(month='short', day='numeric', year='numeric') }}</time></dd>
      <dt>✏️ Last Touched</dt>
      <dd><time datetime="{{ date }}">{{ page.date | formatDate(month='short', day='numeric', year='numeric') }}</time></dd>
    </dl>{% if audience or tldr %}
    <dl id="post-summaries">{% if audience %}
      <dt>👯 Audience</dt>
      <dd>{{ audience | safe }}</dd>{% endif %}{% if tldr %}
      <dt>🙈 tl;dr:</dt>
      <dd>{{ tldr | safe }}</dd>{% endif %}
    </dl>{% endif %}
    <h2><a href="#">Contents</a></h2>
    {{ content | toc | safe }}
    <h2>Tags</h2>
    <ul id="tags-list">{% for tag in tags %}{% if tag != 'posts' %}
      {%- set related = collections[tag] -%}
      <li><a href="{{ ('/tags/' + tag | slug) | url}}">{{ tag }}</a> ({{ related | length }})</li>{% endif %}{% endfor %}
      <li id="all-tags"><a href="{{ '/tags/' | url }}">All Tags</a></li>
    </ul>
  </div>
</aside>

<main>
  <header>
    <h1>{{ title }}</h1>{% if coverImage %}
    <img id="cover-image"
         alt="{{ coverImageAlt or '' }}"
         src="{{ coverImage }}">{% endif %}
  </header>
  {{ content | safe }}
</main>
{% endif %}
