---
layout: base.html
bodyClasses: h-entry
stylesheets:
  - href: /assets/post.css
---
{% if watch or published %}
{%- set prettyPublished = datePublished | formatDate(month='short', day='numeric', year='numeric') -%}
{%- set prettyUpdated = page.date | formatDate(month='short', day='numeric', year='numeric') -%}
{%- set next = collections.posts | getNextCollectionItem -%}
{%- set previous = collections.posts | getPreviousCollectionItem -%}
<aside id="side-menu">
  <div>
    <dl id="post-stats">
      <dt>⏲️ Time to read</dt>
      <dd>~ {{ content | timeToRead }}</dd>
      <dt>🌅 Published</dt>
      <dd><time class="dt-published" datetime="{{ datePublished }}">{{ prettyPublished }}</time></dd>{% if prettyPublished !== prettyUpdated %}
      <dt>✏️ Last Touched</dt>
      <dd><time class="dt-updated" datetime="{{ page.date }}">{{ prettyUpdated }}</time></dd>{% endif %}
    </dl>{% if audience or tldr %}
    <dl id="post-summaries" class="p-summary">{% if audience %}
      <dt>👯 Audience</dt>
      <dd>{{ audience | safe }}</dd>{% endif %}{% if tldr %}
      <dt>🙈 tl;dr:</dt>
      <dd>{{ tldr | safe }}</dd>{% endif %}
    </dl>{% endif %}
    <section class="table-of-contents">
      <h2><a href="#">Contents</a></h2>
      {{ content | toc | safe }}
    </section>
    <h2>Tags</h2>
    <ul id="tags-list" class="p-category">{% for tag in tags %}{% if tag != 'posts' %}
      {%- set related = collections[tag] -%}
      <li><a href="{{ ('/tags/' + tag | slug) | url}}">{{ tag }}</a> ({{ related | length }})</li>{% endif %}{% endfor %}
      <li id="all-tags"><a href="{{ '/tags/' | url }}">All Tags</a></li>
    </ul>
    {% webmentions url = page.url, altUrls = altUrls, type = 'like' %}
    <h2>Likes</h2>
    {% endwebmentions %}
    {% webmentions url = page.url, altUrls = altUrls, type = 'repost' %}
    <h2>Boosts</h2>
    {% endwebmentions %}
    {% if next %}
    <h2>Next</h2>
    <div id="next-post">
      {% if next.data.coverImage %}
      <img class="thumbnail" alt="{{ next.data.coverImageAlt or '' }}" src="{{ next.data.coverImage }}">
      {% endif %}
      <div>
        <a href="{{ next.url }}">{{ next.data.title }}</a>
        <br>
        <time datetime="{{ next.data.datePublished }}">{{ next.data.datePublished | formatDate(month = 'short', day = 'numeric', year = 'numeric') }}</time>
      </div>
    </div>
    {% endif %}
    {% if previous %}
    <h2>Previous</h2>
    <div id="prev-post">
      {% if previous.data.coverImage %}
      <img class="thumbnail"
           alt="{{ previous.data.coverImageAlt or '' }}"
           width="192"
           src="{{ previous.data.coverImage }}">
      {% endif %}
      <div>
        <a href="{{ previous.url }}">{{ previous.data.title }}</a>
        <br>
        <time datetime="{{ previous.data.datePublished }}">{{ previous.data.datePublished | formatDate(month = 'short', day = 'numeric', year = 'numeric') }}</time>
      </div>
    </div>
    {% endif %}
    {% for service in autoPublish %}
    <a href="https://brid.gy/publish/{{ service }}"></a>
    {% endfor %}
  </div>

</aside>

<main>
  <header>
    <h1 class="p-name">{{ title }}</h1>{% if coverImage %}
    <img id="cover-image"
         alt="{{ coverImageAlt or '' }}"
         height="400"
         src="{{ coverImage }}">{% endif %}
  </header>
  <div class="e-content">{{ content | safe }}</div>

  {% webmentions url = page.url, altUrls = altUrls, type = 'reply' %}
  <h2>Comments</h2>
  {% endwebmentions %}
</main>
{% endif %}
