@media (width <= 999px) {
  :not(:is(pre, th)) :is(code, output) {
    word-break: break-all;
  }

  th code {
    word-break: initial;
  }

  main table {
    max-width: 100%;
  }

  main thead th:not(:empty) {
    rotate: -45deg;
    height: 100px;
    max-width: 2em;
    translate: 0 20px;
  }
}

main {
  & pre {
    max-width: 100%;
    overflow-x: scroll;
  }

  & table {
    width: 100%;

    & td {
      @media (width >= 1000px) {
        padding: .6em 1em;
      }
    }

    & th {
      text-align: start;
    }

    & tbody {
      & tr:nth-child(odd) {
        background: var(--zebra-row-bg, #EEEEEE);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  table { --zebra-row-bg: #222222; }
}

#post-stats {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1em;
  margin-block-end: 0;

  & dd {
    justify-self: end;
    margin: 0;
  }
}

#post-summaries {
  margin-block-start: 0;
}

#cover-image {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  object-position: center;
  border-radius: 16px;
}
