th code {
  word-break: initial;
}

:not(:is(pre, th)) :is(code, output) {
  @media (width < 1000px) {
    word-break: break-all;
  }
}

article kbd {
  display: inline-block;
  margin-inline: 2px;
  border-radius: 2px;
  background: var(--grey-200);

  @media (prefers-color-scheme: dark) {
    background: var(--grey-900);
  }
}

main {
  & pre {
    max-width: 100%;
    overflow-x: scroll;
  }

  & table {
    width: 100%;

    @media (width < 1000px) {
      max-width: 100%;

      & tbody {
        & tr:nth-child(odd) {
          background: var(--zebra-row-bg, #EEEEEE);
        }
      }

      & thead th:not(:empty) {
        rotate: -45deg;
        height: 100px;
        max-width: 2em;
        translate: -40% 10px;

        &:first-of-type {
          translate: 0 10px;
        }
      }
    }
  }
}

#post-stats {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1em;
  margin-block-end: 0;

  & dd {
    justify-self: end;
    margin: 0;
  }
}

#post-summaries {
  margin-block-start: 0;
}

#cover-image {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  object-position: center;
  border-radius: 16px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
