:root {
  --deck-primary-background: var(--crust);
  --deck-secondary-background: var(--mantle);
  --deck-primary-color: var(--text);
  --deck-secondary-color: var(--subtext1);
  --fixed-font: "Fira Code", "Operator Mono", "Noto Sans Mono", monospace;
  --markdown-syntax-color: var(--text);
  --markdown-syntax-comment-color: var(--surface2);
  --markdown-code-background-color: var(--base);
  --markdown-syntax-keyword-color: var(--mauve);
  --markdown-syntax-background-color: var(--base);
  --markdown-syntax-function-color: var(--blue);
  --markdown-syntax-regex-color: var(--peach);
  --markdown-syntax-punctuation-color: var(--subtext1);
  --markdown-syntax-operator-color: var(--sky);
  --markdown-syntax-class-name-color: var(--maroon);
  --markdown-syntax-number-color: var(--yellow);
  --markdown-syntax-property-color: var(--blue);

  color: var(--text);
}

#slides-progress {
  --indicator-color: var(--teal);
}

slidem-deck::part(notes) {
  inset-inline-start: 120px;
  inset-block-start: 180px;
  max-width: 850px;
  font-size: 60%;
  background: #00000077;
  z-index: 2;
}

slidem-slide {
  --background: var(--deck-primary-background);

  &::part(container) {
    background: var(--background);
  }

  &::part(content) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  & a[href^="http"] {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }

  & a[href^="#"] {
    pointer-events: none;
  }
}

:is(a, h1, h2, h3, h4, h5) {
  -webkit-text-fill-color: initial;

  & svg {
    width: 1em;
    height: 1em;
  }
}

pre[class*="language-"] {
  border-radius: 16px;
}

ol,
ul {
  padding: 0;
  display: grid;
  gap: 1em;

  aside & {
    display: initial;
  }
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

dl {
  display: grid;
  gap: 1em 0.6em;
  grid-template-columns: min-content auto;

  & dd {
    display: flex;
    align-items: center;
    gap: 0.5em;

    & a {
      color: var(--sapphire);
      text-decoration: underline;
    }
  }
}

[slot="notes"] code {
  background: #00000033 !important;
  font-weight: bold;
  padding: 2px;
}

[name="title"] {
  & h1 {
    font-weight: 900;

    & span {
      font-weight: 100;
    }
  }

  & p {
    position: absolute;
    inset-block-end: 0;
    font-size: 16px;
  }
}

[name="intro"] ul {
  place-items: center;
}

[name="atom"] li {
  display: grid;
  place-items: center;
  gap: 1em;
}

[name="oh-no"] {
  & p { display: contents; }

  & img {
    &:nth-of-type(2) {
      position: absolute;
      scale: 0.75;
      rotate: 15deg;
    }

    &:nth-of-type(3) {
      position: absolute;
      scale: 0.85;
      rotate: -7deg;
    }
  }
}

[name="do-you"] {
  & h2 { font-weight: 100; }
  & em { font-weight: 900; }
}

[name="doing-nvim"] {
  & ul { text-align: center; }
  & li { margin: 0; }
}

[name="code"] {
  & li {
    font-weight: bolder;
    text-align: center;

    & blockquote {
      font-weight: lighter;
      margin: 0;
    }
  }
}

[name="treesitter"] {
  background: var(--base);

  &::part(content) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1.6fr;
    grid-template-areas:
      "head head"
      "code code"
      "tree text";
  }

  & h2 { grid-area: head; }

  & p {
    &:first-of-type {
      display: contents;
    }

    &:not(:first-of-type) {
      grid-area: text;
      place-self: center start;
      font-weight: bolder;

      &:before {
        content: "}";
        font-size: 500%;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
        margin-block-end: 40px;
        margin-inline-end: 20px;
      }
    }
  }

  & pre {
    grid-area: code;
    align-self: start;
    width: 100%;

    &:nth-child(2) {
      position: absolute;
    }
  }

  & img {
    grid-area: tree;
    align-self: end;
    scale: 0.9;
  }
}

[name="renderers"] {
  &::part(content) {
    position: relative;
    display: grid;
    gap: 1em;
    grid-template:
      "head" min-content
      "pre" 100% / 100%;
  }

  & h2 {
    grid-area: head;
  }

  & pre {
    position: absolute;
    grid-area: pre;
    width: 100%;
  }
}

[name="components"] {
  & pre {
    position: absolute;
    inset-block-start: 0;
    margin-block-start: 0;
    max-height: 100%;
    overflow-y: scroll;
  }
}

[name="buffers"] {
  background: var(--base);

  & ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

[name="credits"] {
  & svg {
    height: 1em;
    width: 1em;
  }

  & section {
    background: var(--base);
    border-radius: 24px;
    padding: 1em 1.6em;
    margin-block-start: 1em;

    & header {
      font-weight: bold;
    }
  }
}
