:root {
  --deck-primary-background: var(--crust);
  --deck-secondary-background: var(--mantle);
  --deck-primary-color: var(--text);
  --deck-secondary-color: var(--subtext1);

  --markdown-code-background-color: var(--base);
  --markdown-syntax-keyword-color: var(--mauve);
  --markdown-syntax-background-color: var(--base);
  --markdown-syntax-function-color: var(--blue);
  --markdown-syntax-regex-color: var(--peach);
  --markdown-syntax-punctuation-color: var(--subtext1);
  --markdown-syntax-class-name-color: var(--maroon);
}

slidem-slide {
  --background: var(--deck-primary-background);
}

slidem-slide::part(container) {
  background: var(--background);
}

:is(a, h1, h2, h3, h4, h5) {
  -webkit-text-fill-color: initial;
}

:is(a, h1, h2, h3, h4, h5) svg {
  width: 1em;
  height: 1em;
}

aside ul {
  display: initial;
}

h2 {
  text-align: center;
}

slidem-slide::part(content) {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 1em;
}

dl {
  display: grid;
  gap: 1em .6em;
  grid-template-columns: min-content auto;
}

dd {
  display: flex;
  align-items: center;
  gap: .5em;
}

slidem-slide dd a {
  color: var(--sapphire);
  text-decoration: underline;
}

[name=title] h1 {
  font-weight: 900;
}

[name=title] h1 span {
  font-weight: 100;
}

[name=title] p {
  position: absolute;
  inset-block-end: 0;
  font-size: 16px;
}

[name=intro] ul {
  place-items: center;
}

[name=atom] li {
  display: grid;
  place-items: center;
  gap: 1em;
}

[name=oh-no] p { display: contents; }

[name=oh-no] img:nth-of-type(2) {
  position: absolute;
  scale: .75;
  rotate: 15deg;
}

[name=oh-no] img:nth-of-type(3) {
  position: absolute;
  scale: .85;
  rotate: -7deg;
}

[name=code] li:first-child {
  position: relative;
}

[name=code] li:first-child {
  height: 2em;
}

[name=code] li:first-child :is(img, pre) {
  position: absolute;
  max-width: initial;
  left: -30%;
  font-size: 75%;
}

[name=credits] svg {
  height: 1em;
  width: 1em;
}

[name=credits] section {
  background: var(--base);
  border-radius: 24px;
  padding: 1em 1.6em;
  margin-block-start: 1em;
}

[name=credits] section header {
  font-weight: bold;
}
