:root {
  --deck-primary-background: var(--crust);
  --deck-secondary-background: var(--mantle);
  --deck-primary-color: var(--text);
  --deck-secondary-color: var(--subtext1);
  --fixed-font: "Fira Code", "Operator Mono", "Noto Mono", monospace;
  --markdown-syntax-color: var(--text);
  --markdown-syntax-comment-color: var(--surface2);
  --markdown-code-background-color: var(--base);
  --markdown-syntax-keyword-color: var(--mauve);
  --markdown-syntax-background-color: var(--base);
  --markdown-syntax-function-color: var(--blue);
  --markdown-syntax-regex-color: var(--peach);
  --markdown-syntax-punctuation-color: var(--subtext1);
  --markdown-syntax-operator-color: var(--sky);
  --markdown-syntax-class-name-color: var(--maroon);
  --markdown-syntax-number-color: var(--yellow);
}

body {
  color: var(--text);
}

#slides-progress {
  --indicator-color: var(--teal);
}

slidem-slide {
  --background: var(--deck-primary-background);

  &::part(container) {
    background: var(--background);
  }

  &::part(content) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  & a[href^="http"] {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }

  & a[href^="#"] {
    pointer-events: none;
  }
}

:is(a, h1, h2, h3, h4, h5) {
  -webkit-text-fill-color: initial;

  & svg {
    width: 1em;
    height: 1em;
  }
}

pre[class*="language-"] {
  border-radius: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 1em;

  aside & {
    display: initial;
  }
}

h2 {
  text-align: center;
}

dl {
  display: grid;
  gap: 1em 0.6em;
  grid-template-columns: min-content auto;
}

dd {
  display: flex;
  align-items: center;
  gap: 0.5em;

  & a {
    color: var(--sapphire);
    text-decoration: underline;
  }
}

[name="title"] {
  & h1 {
    font-weight: 900;

    & span {
      font-weight: 100;
    }
  }

  & p {
    position: absolute;
    inset-block-end: 0;
    font-size: 16px;
  }
}

[name="intro"] ul {
  place-items: center;
}

[name="atom"] li {
  display: grid;
  place-items: center;
  gap: 1em;
}

[name="oh-no"] {
  & p { display: contents; }

  & img {
    &:nth-of-type(2) {
      position: absolute;
      scale: 0.75;
      rotate: 15deg;
    }

    &:nth-of-type(3) {
      position: absolute;
      scale: 0.85;
      rotate: -7deg;
    }
  }
}

[name="do-you"] {
  & h2 { font-weight: 100; }
  & em { font-weight: 900; }
}

[name="doing-nvim"] {
  & ul { text-align: center; }
  & li { margin: 0; }
}

[name="treesitter"] {
  &::part(content) {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1.6fr;
    grid-template-areas:
      "code code"
      "tree text";
  }

  & p {
    &:first-of-type {
      display: contents;
    }

    &:not(:first-of-type) {
      grid-area: text;
      place-self: center start;
      font-weight: bolder;

      &:before {
        content: "}";
        font-size: 500%;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
        margin-block-end: 40px;
        margin-inline-end: 20px;
      }
    }
  }

  & pre {
    grid-area: code;
    align-self: start;
    width: 100%;

    &:nth-child(2) {
      position: absolute;
    }
  }

  & img {
    grid-area: tree;
    align-self: end;
    scale: 0.9;
  }
}

[name="components"] {
  & pre {
    position: absolute;
    inset-block-start: 0;
    margin-block-start: 0;
    max-height: 100%;
    overflow-y: scroll;
  }
}

[name="buffers"] {
  background: var(--base);
  & ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

[name="credits"] {
  & svg {
    height: 1em;
    width: 1em;
  }

  & section {
    background: var(--base);
    border-radius: 24px;
    padding: 1em 1.6em;
    margin-block-start: 1em;

    & header {
      font-weight: bold;
    }
  }
}
