---
layout: base.webc
permalink: /resume/index.html
datePublished: '2016'
bodyAttributes:
  itemscope: ''
  itemtype: https://schema.org/Person
noHeader: true
fonts:
  - Libre Franklin
  - Anonymous Pro
stylesheets:
  - href: /assets/resume.css
  - href: /assets/resume-print.css
    media: print
---

<template webc:type="11ty" 11ty:type="njk">
<script type="module" src="{{ '/assets/resume.js' | url }}"></script>

<header id="identity">
  <h1>
    <span itemprop="givenName">Benny</span>
    <span itemprop="familyName">Powers</span>
    <span itemprop="jobTitle">Web Developer</span>
  </h1>

  <section id="social">
    <h2 class="invisible">Social Profiles</h2>{% for link in social %}
    <a href="{{ link.href }}"
       title="{{ link.label }}"
       target="_blank"
       rel="me noreferrer nofollow">
      {% icon link.icon %}
    </a>{% endfor %}
    <button id="print-button" class="screen-only" aria-label="print this page" title="Print this page">
      {% icon 'print', 'aria-hidden'='true' %}
    </button>
  </section>

  <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    <span itemprop="addressRegion">Jerusalem</span>,
    <span itemprop="addressCountry">Israel</span>
    <span itemprop="nationality" role="img" aria-label="Israeli">🇮🇱</span>
    <span itemprop="nationality" role="img" aria-label="Canadian">🇨🇦</span>
    <details id="contact-disclosure">
      <summary class="screen-only">Contact</summary>
      <a itemprop="email" href="mailto:web@bennypowers.com">web@bennypowers.com</a>
      <a itemprop="telephone" href="tel:+972544825726">054-482-5726</a>
      <p class="screen-only">To book a live mentoring session, find me on codementor.io. For all other enquiries, please email me.</p>
      <a id="codementor-badge" class="screen-only" href="https://www.codementor.io/@bennyp?refer=badge">
        <img src="https://www.codementor.io/m-badges/bennyp/find-me-on-cm-b.svg" alt="Codementor badge">
      </a>
    </details>
  </address>
</header>

<main>

  <section id="summary" itemprop="description" itemref="identity">
    <p>A passionate, creative, and curious programmer, I specialize in Progressive Web Apps using open web standards like <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/customElements" rel="noreferrer" target="_blank">custom elements</a>,
      <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM">shadow <abbr title="Document Object Model">DOM</abbr></a>, and <a href="https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorker">service worker</a>.</p>

    <p>I care about <abbr title="Free/Open Source Software">F/OSS</abbr> and engineering standards,
      preferring comprehensive solutions over band-aid hacks that add technical debt.
      An autodidact, my current interests include functional JavaScript, and algebraic data types.</p>

    <p>I excel when I have a sense of ownership over my work,
      and when my teammates share my enthusiasm. I'm a strong written communicator,
      English is my native tongue. I'm also proficient in Hebrew.</p>

    <p>I'm a regular <abbr title="Open Source Software">OSS</abbr> contributor:
      I open issues and contribute pull requests,
      and have released a collection of my own F/OSS web components.</p>

    <p>You can find me in chatrooms asking questions and helping others,
      I enjoy being a part of a community of learners.</p>

    <p>The company that hires me is looking for a motivated, tenacious individual;
      someone whose goal is to learn, grow, and produce excellent software.
      They value creative expression, community contribution, two-way dialogue
      between management and development,
      and seek to generate job satisfaction for their team.</p>

    <h2>Highlights</h2>
    <ul>
      <li>Mobile Web Specialist</li>
      <li>Standards and a11y</li>
      <li>Functional Programming</li>
      <li>Web Components</li>
      <li>Contributor to Open Source</li>
      <li>Tenacious autodidact</li>
      <li>Bilingual (English and Hebrew)</li>
      <li>Multifaceted</li>
    </ul>

  </section>

  <section id="tools">
    <h2>Relevant Buzzwords</h2>
    {%- set icons = collections.icon | groupby('fileSlug') %}
    <ul id="tools-and-technologies">{% for buzzword in buzzwords %}
      {%- set icon = icons[buzzword.icon or buzzword] | first -%}
      <li itemprop="knowsAbout" title="{{ buzzword.title or icon.data.title or buzzword }}">
        {% icon buzzword.icon or buzzword, 'aria-hidden'='true' %}
      </li>{% endfor %}
    </ul>
  </section>

  <section id="experience">
    <h2>Experience</h2>{% for file in collections['resume-experience'] | sort(true, false, 'data.startDate') %}{% set position = file.data %}
    <!-- {{ position.organization.name }} -->
    <article class="experience" itemscope itemtype="https://schema.org/OrganizationRole">
      <header>
        <h3 itemprop="roleName">{{ position.role }}</h3>
        <span>
          <time itemprop="startDate"
                datetime="{{ position.startDate }}">{{ position.startDate | formatDate(month = 'long', year = 'numeric') }}</time> -
          <time itemprop="endDate"
                datetime="{{ position.endDate }}">{{ position.endDate | formatDate(month = 'long', year = 'numeric') }}</time>
        </span>
        <span itemscope
              itemtype="https://schema.org/Organization">
          <a itemprop="name url"
             href="{{ position.organization.href }}">{{ position.organization.name }}</a>
          <address itemprop="address">{{ position.organization.address }}</address>
        </span>
      </header>
      <div>
        <section itemprop="description">{{ file.templateContent | safe }}</section>
        <section itemscope
                itemtype="https://schema.org/ItemList"
                class="technologies">
          <h3 itemprop="name">Technologies</h3>
            <ul>{% for technology in position.technologies %}{%- set icon = ((icons[technology] or []) | first) or [] | first -%}
            <li itemprop="itemListElement" title="{{ icon.data.title }}">
              {% icon technology, 'aria-hidden'=true %}
            </li>{% endfor %}
          </ul>
        </section>
      </div>
    </article>{% endfor %}
  </section>

  <section id="qualifications">
    <h2>Qualifications & Education</h2>{% for file in collections['resume-education'] %}
    <!-- {{ file.data.shortDescription }} -->
    <article class="credential" itemscope itemtype="http://schema.org/educationalCredentialAwarded">
      <h3 itemscope itemtype="https://schema.org/Course">{{ file.data.title }}</h3>
      {{ file.templateContent | safe }}
      <ul>{% for credential in file.data.credentials %}
        <li>
          <span itemscope
                itemprop="educationalCredentialAwarded">
            <a itemprop="issuedBy"
               itemtype="https://schema.org/{{ credential.institutionType or 'CollegeOrUniversity' }}"
               href="{{ file.data.href }}"
               rel="noreferrer"
               target="_blank">
              <span itemprop="name">{{ credential.institution }}</span>
            </a>&nbsp;
            <time datetime="{{ file.data.date }}">{{ credential.date }}</time>
          </span>
        </li>{% endfor %}
      </ul>
    </article>{% endfor %}
  </section>

  <section id="open-source">
    <h2>Open Source</h2>{% for file in collections['resume-open-source'] %}
    <article class="open-source" itemscope itemtype="https://schema.org/CreativeWork">
      <header>
        <h3 itemprop="name">
          <a href="{{ file.data.href }}" target="_blank" rel="nofollow noreferrer noopener">{{ file.data.title }}</a>
        </h3>
        <span>
          <time datetime="{{ file.data.date }}">{{ file.data.date }}</time>
        </span>
      </header>
     <section itemprop="description">{{ file.templateContent | safe }}</section>
    </article>{% endfor %}
    <a href="https://github.com/bennypowers" target="_blank" rel="nofollow noreferrer noopener">And more</a>
  </section>

</main>
</template>
