.settings {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.2em 1em;
}

#set {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-items: start;
  column-gap: 1em;
}

fieldset[form="form"] label {
  display: block;
}

output {
  font-family: var(--fixed-font);
}
