:not(:defined) { display: none; }

:root {
  --lightness-start: 30%;
  --lightness-end: 10%;
  --saturation-start: 60%;
  --saturation-end: 40%;
  --hue-start: 180;
  --hue-end: 240;
  --primary-hue: var(--hue-start);
  --magic-hue: calc(var(--primary-hue) * var(--hue-offset, 1));
  --magic-start: hsl(var(--magic-hue), var(--saturation-start), var(--lightness-start));
  --magic-end: hsl(var(--magic-hue), var(--saturation-end), var(--lightness-end));
  --magic: linear-gradient(72deg, var(--magic-start), var(--magic-end));
  --primary-font: "Fira Code", "Panic Code", "Operator Mono", monospace;
  --heading-font: "Hepta Slab", serif;
  --fixed-font: "Anonymous Pro", monospace;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111115;
    --lightness-start: 80%;
    --lightness-end: 65%;
    --saturation-start: 100%;
    --saturation-end: 85%;
  }
}

html,
body {
  margin: 0;
  font-family: var(--primary-font);
  color: white;
  background: var(--background-color);
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  line-height: 1.3;
}

body {
  padding: 1em 1.6em;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header img {
  height: 40px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  background: var(--magic);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--magic-start);
  transition: text-decoration-thickness .3s ease-in-out;
}

a:is(:hover, :focus) {
  text-decoration-thickness: 4px;
}

a:visited {
  --hue-offset: 120;
}

#socials {
  display: flex;
  gap: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#socials li,
#socials a {
  color: currentcolor;
  display: contents;
}

#socials svg {
  fill: currentcolor;
  width: 24px;
  aspect-ratio: 1/1;
}

#tags-list {
  list-style-type: none;
  margin: 0;
  padding: .3em .6em;
}

#tags-list li {
  margin: 0;
  display: inline-block;
  border-radius: 1em;
  background: hsla(0 100% 100% / .15);
  padding: .3em .6em;
  break-inside: avoid;
  margin-block-end: .3em;
}

#tags-list li#all-tags {
  display: inline-block;
  margin-block: 1em;
  width: 100%;
  background: none;
  padding: 0;
}
