body.post {
  display: grid;
  gap: 1em 1.6em;
  grid-template-rows: min-content auto auto min-content;
  grid-template-columns: minmax(0, auto);
  grid-template-areas:
    "head"
    "main"
    "menu"
    "foot";
}

#side-menu .table-of-contents {
  display: none;
}

@media (min-width: 1000px) {
  body.post {
    grid-template-rows: min-content auto min-content;
    grid-template-columns: minmax(0, 1fr) 300px;
    grid-template-areas:
      "head head"
      "main menu"
      "foot foot";
  }

  #side-menu .table-of-contents {
    display: block;
  }
}

@media (max-width: 999px) {
  :not(:is(pre, th)) :is(code, output) {
    word-break: break-all;
  }

  th code {
    word-break: initial;
  }

  .post main table {
    max-width: 100%;
  }

  .post main thead th:not(:empty) {
    rotate: -45deg;
    height: 100px;
    max-width: 2em;
    translate: 0 20px;
  }
}

#side-menu {
  grid-area: menu;
  position: relative;
}

#side-menu div {
  position: sticky;
  top: 50px;
}

#post-stats {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1em;
  margin-block-end: 0;
}

#post-stats dd {
  justify-self: end;
  margin: 0;
}

#post-summaries {
  margin-block-start: 0;
}

#side-menu h2 {
  font-size: 100%;
}

#main-header { grid-area: head; }

#main-footer { grid-area: foot; }

main { grid-area: main; }

#cover-image {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  object-position: center;
  border-radius: 16px;
}

:is(#next-post, #prev-post) {
  display: grid;
  grid-template-areas: "all";
  place-items: center;
  border-radius: 16px;
  width: 192px;
  text-align: center;

  & .thumbnail {
    opacity: 0.16;
    transition: opacity 0.2s ease;
  }

  & div {
    z-index: 1;
    padding-block: 0.6em;
    width: 100%;
    transition: background 0.2s ease;
  }

  & a {
    font-weight: 800;
    box-shadow: 0 0 rgba(255 255 255 / 0.5);
  }

  & > * { grid-area: all; }
  & time { font-size: 80%; }

  &:is(:hover, :focus-within) {
    & .thumbnail { opacity: 1; }
    & div { background: black; }
  }
}

.webmentions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  --avatar-size: 60px;
  &:is(.likes,.reposts) {
    margin-inline-start: 24px;
  }
  &.replies {
    display: flex;
    flex-flow: column;
  }
  &.many {
    --avatar-size: 40px;
  }
}

.webmention {
  & header {
    display: contents;
  }
  &:is(.like,.repost) {
    margin-inline-start: -24px;
  }
  &.reply {
    display: grid;
    column-gap: calc(var(--avatar-size) / 4);
    row-gap: calc(var(--avatar-size) / 8);
    grid-template-rows: calc(var(--avatar-size) / 2) auto;
    grid-template-columns: var(--avatar-size) auto;
    grid-template-areas:
      'avatar byline'
      'avatar comment';
    & .avatar { grid-area: avatar; }
    & .byline {
      grid-area: byline;
      align-self: end;
      display: flex;
      justify-content: space-between;
      align-items: end;
      & h3 {
        display: inline;
      }
    }
    & .comment {
      grid-area: comment;
      align-self: start;
      & p:first-child {
        margin-block-start: 0;
      }
    }
  }
  & img {
    border: 4px solid var(--background-color);
    background: var(--background-color);
    border-radius: 100%;
    overflow: hidden;
    width: var(--avatar-size);
    aspect-ratio: 1;
    position: relative;
  }
  &:is(:hover, :focus, :focus-within) img {
    z-index: 2;
  }
}
