
#brno-container {
  display: grid;
  align-items: initial;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  overflow: hidden;
  padding-block: var(--spacer-block);
  padding-inline: var(--spacer-inline);
  font-size: 1.2em;
}

#title {
  display: block;
  grid-column: 1/-1;
  margin-block-end: var(--spacer-block);
}

#contents {
  display: grid;
  column-gap: 1em;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}

figure {
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 80vw;
  align-self: center;
  font-size: 2em;
}

blockquote {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

blockquote:before {
  content: "“";
  display: inline-block;
}

blockquote:after {
  content: "”";
  display: inline-block;
}

figure figcaption {
  display: flex;
  flex-direction: column;
  padding-block: .5em;
  font-family: Montserrat, sans-serif;
  font-size: 0.75em;
  text-align: right;
}

figure figcaption:before {
  content: "";
  display: block;
  height: 2px;
  width: 4em;
  align-self: end;
  background: var(--deck-primary-color);
  border-radius: 1px;
}

#stripe {
  align-items: center;
  background: var(--deck-primary-color);
}

#stripe img {
  display: block;
  width: 4em;
}

.footer {
  grid-template-rows: min-content auto 6em;
}

.footer #stripe {
  display: flex;
  padding-block: 1em;
  grid-column: 1/-1;
  padding-inline: var(--spacer-inline);
  justify-content: end;
  position: fixed;
  inset-inline: 0 0;
  inset-block: auto 0;
}

.feature #contents {
  grid-template-columns: 1fr 1fr;
}

.sidebar {
  grid-template-columns: auto 8.25em;
}

.sidebar #title { grid-column: 1/2; }
.sidebar #contents { grid-column: 1/2; }

.sidebar #stripe {
  display: flex;
  flex-flow: column;
  padding-inline: 1em;
  grid-column: 2/3;
  grid-row: 1/-1;
  padding-block: var(--spacer-block);
  position: fixed;
  inset-inline: auto 0;
  inset-block: 0 0;
}

.comparison #title {
  text-align: center;
}

.comparison #contents {
  --columns: 2;

  text-align: center;
}

svg#divider {
  position: absolute;
  width: 0.2em;
  inset-inline-start: calc(50% - 0.1em);
  inset-block-start: 25%;
}

ul {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.grid-2x2 #contents {
  grid-template: 1fr 1fr / 1fr 1fr;
}
  
