:host {
  background-image: url("/decks/devconf-brno-2023/title.png") !important;
  background-size: cover !important;
  background-color: var(--deck-primary-color) !important;
  font-size: .8em;
}

#brno-container {
  color: white;
  display: grid;
  padding-block: 10vh;
  padding-inline: 5vw;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: repeat(6, 1fr);
  aspect-ratio: var(--deck-aspect);
}

#brno-container ::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  color: inherit !important;
}

#brno-container ::slotted(:is(h1, h2)) {
  margin-block-start: 0 !important;
  margin-block-end: .35em !important;
  font-size: 5em !important;
  @media (width <= 500px) {
    font-size: 2em !important;
  }
}

::slotted(p) {
  margin: 0 !important;
}

#titles.title {
  grid-row: initial;
  grid-column: 2/7;
  align-self: start;
}

