:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
#fallback {
  text-align: center;
  padding: 1em;
  & a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1.5em;
    background: #4a90d9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    &:hover {
      background: #5aa0e9;
    }
  }
}

