:host {
  color: var(--rh-color-text-primary-on-dark);
  background-color: var(--rh-color-brand-red-on-light) !important;
}

#content {
  display: grid;
  grid-template-rows: min-content 1fr;
}

#product-logo {
  margin-inline-start: 10%;
  max-height: var(--rh-size-icon-06);
}

#title-container {
  padding:
    var(--rh-space-3xl)
    var(--rh-space-7xl);
  display: flex;
  flex-direction: column;
  line-height: 0.5;
}

#slide-footer {
  background: var(--rh-color-surface-lightest);
  color: var(--rh-color-text-primary-on-light);
}

:is(h1, h2, h3, h4, h5),
::slotted(:is(h1, h2, h3, h4, h5)) {
  margin: 0;
}

h1,
::slotted(h1) {
  font-size: calc(var(--rh-font-size-heading-2xl) * 2);
}

[slot="presenter"],
#presenter {
  margin-block-start: auto;
  display: grid;
  gap: var(--rh-space-4xl);
  font-size: calc(var(--rh-font-size-body-text-lg) * 2);
}

[slot="presenter"],
::slotted([slot="presenter"]) {
  display: grid;
  gap: var(--rh-space-lg);
}
