---
layout: deck.html
deck: redhat-frontend-guild-pfe
title: Introduction to Web Components and PatternFly Elements
date: 2022-12-11
venue:
  name: Red Hat Front-End Guild
description: |
  About the DOM, Web Components, and how they're used at Red Hat with PatternFly
  Elements and the Red Hat Design System
coverImage: /decks/redhat-frontend-guild-pfe/cover.png
icons:
  - rel: shortcut icon
    href: redhat.svg
scripts:
  - src: https://ga.jspm.io/npm:es-module-shims@1.7.0/dist/es-module-shims.js
    async: true
stylesheets:
  - href: https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css
  - href: /assets/redhat-deck/redhat-theme.css
  - href: redhat-frontend-guild-pfe.css
  - href: /assets/@rhds/global.css
preconnect:
  - https://redhat.com
  - https://static.redhat.com
tags:
  - deck
---

<script webc:keep type="module" src="{{ '/assets/redhat-deck/redhat-theme.js' | url }}"></script>
<template webc:type="11ty" 11ty:type="njk">
<script type="importmap">{{ importMap | dump | safe }}</script>

<script type="module">import '@rhds/elements';</script>
<script>{% include '../../_plugins/dsd/dsd.js' %}</script>

<svg id="icon-sprite-sheet">
  <defs>{% for icon in collections.icon %}{% if page.icons and page.icons.has(icon.fileSlug) %}
    <g id="{{ icon.fileSlug }}-icon">{{ icon.content | safe }}</g>{% endif %}{% endfor %}
  </defs>
</svg>
</template>
