:root {
  --deck-primary-background: white;
  --deck-secondary-background: var(--rh-color-surface--light);
  --deck-primary-color: #8e83e4;
  --deck-secondary-color: #00addc;
  --deck-tertiary-color: #ff0099;
  --fixed-font: var(--rh-font-family-code);
  --markdown-syntax-color: var(--rh-color-text-primary-on-light);
  --markdown-syntax-comment-color: var(--surface2);
  --markdown-code-background-color: var(--base);
  --markdown-syntax-keyword-color: var(--mauve);
  --markdown-syntax-background-color: var(--base);
  --markdown-syntax-function-color: var(--blue);
  --markdown-syntax-regex-color: var(--peach);
  --markdown-syntax-punctuation-color: var(--subtext1);
  --markdown-syntax-operator-color: var(--sky);
  --markdown-syntax-class-name-color: var(--maroon);
  --markdown-syntax-number-color: var(--yellow);
  --spacer-inline: 4em;
  --spacer-block: 2em;

  font-family: Montserrat, sans-serif;
}

:not(:defined) { display: none !important; }

#slides-progress {
  --indicator-color: var(--deck-secondary-color);
}

slidem-deck {
  line-height: inherit;
  color: #595959;
  font-family: "Montserrat Light", sans-serif;
  font-size: 175%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat SemiBold", sans-serif;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 5em;
  margin-block-start: 0;
  margin-block-end: .35em;
}

h2 {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 3em;
  color: var(--deck-primary-color);
}

h3 {
  margin-block-end: var(--spacer-block);
}

a {
  color: inherit;
  text-decoration: none;

  &[href^="#"] {
    pointer-events: none;
  }
}
