:host {
  height: 100vh;
  width: 100vw;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 3em;
  color: var(--deck-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) a[href^="#"] {
  pointer-events: none;
}

#brno-container {
  aspect-ratio: var(--deck-aspect);
  position: relative;
  width: 100%;
}

[reveal] {
  opacity: 0;
  transition: opacity 0.2s;
}

[current],
[past] {
  opacity: 1;
}

/*********************************************************
 * Prism
 */
pre[class*="language-"] {
  color: var(--deck-primary-text);
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"]::selection,
code::selection {
  text-shadow: none;
  background: var(--dc23-cyan);
}

pre .token.punctuation { color: var(--dc23-lilac); opacity: 0.7; }
pre .token.attr-name { color: var(--dc23-orange); }
pre .token.attr-value { color: var(--dc23-magenta); }
pre .token.tag { color: var(--dc23-lilac); }
