main {
  max-width: 800px;
  margin-inline: auto;
}

body.tags {
  display: grid;
  gap: 1em 1.6em;
  grid-template-rows: min-content auto auto min-content;
  grid-template-columns: minmax(0, auto);
  grid-template-areas:
    "head"
    "main"
    "menu"
    "foot";
}

