#side-menu {
  grid-area: menu;
  position: relative;
  padding-block-start: 64px;

  & > div {
    position: sticky;
    top: 64px;
  }

  & h2 {
    font-size: 100%;
  }
}

.p-summary dd {
  margin-inline-start: 1em;
}
