table-of-contents {
  display: none;

  @nest #mobile-nav-content & { display: block; }

  @media (min-width: 1000px) {
    display: block;

    @nest #mobile-nav-content & { display: none; }
  }
}

#mobile-nav-content {
  position: fixed;
  inset: 40px 0 auto 0;
  background: var(--background-color);
  padding: 40px;
  border: 1px solid currentcolor;
}
