web-mention {
  display: flex;
  flex-flow: column;

  &.many { --avatar-size: 40px; }

  & .h-entry {
    display: grid;
    column-gap: calc(var(--avatar-size, 60px) / 4);
    row-gap: calc(var(--avatar-size, 60px) / 8);
    grid-template-rows: minmax(calc(var(--avatar-size, 60px) / 2), min-content) auto;
    grid-template-columns: var(--avatar-size, 60px) auto;
    grid-template-areas:
      "avatar byline"
      "avatar comment";

    & .h-card { display: contents; }

    & web-mention-avatar { grid-area: avatar; display: block; }

    & .byline {
      grid-area: byline;
      font-style: italic;
      align-self: end;
      & h3 { display: inline; }
    }

    & .comment {
      grid-area: comment;
      margin: 0;

      /* align-self: start; */
      & p:first-child { margin-block-start: 0; }
    }
  }
}
