:root {
  --deck-primary-background: var(--rh-color-surface-lightest);
  --deck-secondary-background: var(--rh-color-surface--light);
  --deck-primary-color: var(--rh-color-brand-red);
  --deck-secondary-color: var(--rh-color-accent-brand-on-light);
  --fixed-font: var(--rh-font-family-code);
  --markdown-syntax-color: var(--rh-color-text-primary-on-light);
  --markdown-syntax-comment-color: var(--surface2);
  --markdown-code-background-color: var(--base);
  --markdown-syntax-keyword-color: var(--mauve);
  --markdown-syntax-background-color: var(--base);
  --markdown-syntax-function-color: var(--blue);
  --markdown-syntax-regex-color: var(--peach);
  --markdown-syntax-punctuation-color: var(--subtext1);
  --markdown-syntax-operator-color: var(--sky);
  --markdown-syntax-class-name-color: var(--maroon);
  --markdown-syntax-number-color: var(--yellow);

  color: var(--rh-color-text-primary-on-light);
  font-family: var(--rh-font-family-body-text);
  line-height: var(--rh-line-height-body-text);
}

:not(:defined) { display: none !important; }

slidem-deck {
  line-height: inherit;
}

p,
pre[class^="language-"] {
  margin-block: var(--rh-space-lg);
}

[slot="notes"] {
  color: var(--rh-color-text-primary-on-dark);
}

#slides-progress {
  --indicator-color: var(--rh-color-brand-red);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--rh-font-family-heading);
  margin-block: var(--rh-space-xl);
  line-height: 1;
}

rh-alert :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href^="http"] {
  color: var(--rh-context-light-color-text-link);
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

a[href^="#"] {
  pointer-events: none;
}

ol {
  margin-inline-start: 1em;
}

ul li {
  padding-inline-start: 0.5em;
}

ul li::marker {
  content: "▶";
  color: var(--rh-color-brand-red-on-light);
  font-size: 80%;
}

summary::marker {
  color: var(--rh-color-brand-red-on-light);
}

figure blockquote + figcaption {
  text-align: end;
}

blockquote {
  position: relative;
}

blockquote:before {
  content: "“";
  font-size: 400%;
  position: absolute;
  inset-block-start: -0.5em;
  inset-inline-start: -0.5em;
  opacity: 0.5;
}

redhat-slide-divider [slot="image"] {
  display: grid;
  grid-template: 1fr / 1fr;
  object-fit: contain;
  object-position: center;
  max-width: 16em;
  max-height: 7em;
  translate: calc(-1 * var(--rh-space-3xl));
  overflow: hidden;
  scale: 1.2;
}

redhat-slide-divider [slot="image"] :is(img, figcaption) {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

redhat-slide-divider [slot="image"] img {
  width: 100%;
  height: auto;
}

redhat-slide-divider figure[slot="image"] figcaption {
  place-self: end end;
  font-size: 25%;
}
